
@font-face {
    font-family: genshin;
    src: url(../fonts/genshin.ttf);
  }

body {
    font-family: genshin;
    color: #F06F12;
}

#card {
  width: 300px;
  height: 540px;
  margin: 40px auto 0 auto;
}

.upper-section {
    height: 80%;
    background-image: url(../img/upper_frame.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.lower-section {
    display: flex;
    align-items: flex-end;
    height: 20%;
    background-image: url(../img/lower_frame.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.selection-tab {
    position: absolute;
    width: 330px;
    height: 60px;
    background: linear-gradient(90.07deg, #FF9D2B -1.35%, #FF772B 100.93%);
    border-radius: 5px;
    bottom: 20px;
    left: -15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selection-img:hover {
    transform: scale(1.1);
    transition: all 0.2s;
    cursor: pointer;
}

.selection-img {
    transition: all 0.2s;
    width: 50px;
    opacity: 0.3;
}

.selection-img.active {
    opacity: 1;
}

.xiangling-container {
    height: 100%;
    position: relative;
}

/* CSS copied from "https://codepen.io/chrisboon27/pen/kPpYOR" */
#xiangling-img {
    background:url('../img/xiangling.png') -25px -50px;
    background-repeat: no-repeat;
    background-position: bottom;
    width:100%;
    z-index:0;
    height:100%;
    background-size: calc(90% + 50px);
    transition: all 0.1s;
}


#xiangling-title {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
}

.attacks-carousel {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator-img {
    width: 20px;
}

#left {
    margin-left: 65px;
}

#right {
    margin-right: 65px;
}

.attack-item {
    max-width: 230px;
    min-width: 230px;
    text-align: center;
}

.attack-title {
    font-size: 12px;
    font-family: genshin;
    color: #F06F12;
}

.attack-body {
    font-size: 9px;
    font-family: genshin;
    color: #451414;
}

.tab {
    position: absolute; 
    opacity: 0;
    transition: all 1s;
}

.selected {
    opacity: 1;
    position: initial; 
    transition: all 1s;
}